@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.phone {
  width: 360px;
  max-width: 95%;
  height: 720px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}


.screen {
  width: 100%;
  height: 100%;
  padding: 35px 25px;
  display: flex;
  flex-direction: column;
}


.top-bar {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
}

.back-btn {
  position: absolute;
  left: 0;
  font-size: 1.6rem;
  background: none;
  border: none;
  cursor: pointer;
}

.top-bar h1 {
  flex: 1;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}


label {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 1rem;
  margin-left: 5px;
}

.input-container {
  margin-bottom: 22px;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 12px 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background: none;
}

input::placeholder {
  color: #888;
}

.register-btn {
  width: 100%;
  padding: 15px 0;
  background-color: #d40000;
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  transition: .3s;
}

.register-btn:hover {
  background-color: #b80000;
}

.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* background blur */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.notification-overlay.show {
  opacity: 1;
  pointer-events: auto;
}


.notification {
  background-color: #ffffff; 
  color: #000000; 
  font-size: 1.0rem;
  font-weight: 400;
  padding: 30px 30px;
  width: 200px; 
  height: 200px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.25);
  position: relative;
  text-align: center;
}


.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000; 
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: bold;
}




@media (max-width: 480px) {
  .phone {
    width: 95%;
    height: 650px;
  }
}
